body {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

body, header, nav {
	margin: 0px;
}

header {
	background-color: #0099CC;
	color: white;
	padding: 10px 10px;
}

.container{
	display: flex;
	flex-wrap: wrap;
}

.product-container{
	flex: 33%;
}

nav {
	background-color: #8DC63F;
	margin-bottom: 20px;
	padding: 5px;
	height: 50px;
}

nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: white;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

img {
	width: 80%;
}

section {
	clear: both;
	display: block;
	width: 80%;
	margin: 20px auto;
	vertical-align: top;
	text-align: center;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
}

tr.shaded {
	background-color: #e1dde6;
}

.tile-rating {
	flex: 1;
	text-align: left;
	position: relative;
	display: inline;
	align-content: flex-start;
	vertical-align: bottom;
}

img.rating {
	width: 70%;
}


.pricing td {
	color: red;
	font-size: 1.1em;
}

.productRow{
	display: flex;	
}

.productImage{ 
	flex:1;
	display: inline;
}

.list {
	flex: 3;
	display: inline;
}

li {
	list-style-type: none;
}

.detail-main-container {
	display: flex;
}

.detail-image {
	flex: 1;
	display: inline;
}

.detailSummary {
	flex: 2;
	text-align: left;
	padding: 15px;
}

.smallImage {
	width: 50%;
}

.ratingImage {
	width: 50%;
	text-align: center;
}

